body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: #000;
  margin: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
}

/* colors available:
 * $primary: #3828ee;
 * $accent: #55fbdc;
 * $white: #fff;
 * $black: #000;
 *
 * $green: #1CED7D;
 */
div#container div.project div.info-container {
  width: 600px;
}
div#container div.project div.info-container div.link-bar a {
  color: #3828ee;
}