@use 'defaults/default-styles' as defaults;

/* colors available:
 * $primary: #3828ee;
 * $accent: #55fbdc;
 * $white: #fff;
 * $black: #000;
 * $dark-gray: #3d3d3d;
 *
 * $green: #1CED7D;
 */

div#container {

    h1 {
        text-align: center;
    }

    div.project {
        width: min-content;
        margin: 10px auto;
        background-color: rgb(232, 232, 232);
        
        width: 600px;
        @media only screen and (max-width: 660px) {
            width: 90%;
        }
        
        div.info-container {

            padding: 10px;

            strong {
                font-weight: 700;
            }

            div.date {
                font-style: italic;
                color: defaults.$dark-gray;
                padding: 2px 0;
            }

            div.description {
                text-align: justify;
            }

            div.link-bar {
                // TODO: consider making these bubbles
                
                a {
                    color: defaults.$primary;
                }
            }
        }
    }

    
    
    
}
