@use 'defaults/default-styles' as defaults;

/* colors available:
 * $primary: #3828ee;
 * $accent: #55fbdc;
 * $white: #fff;
 * $black: #000;
 *
 * $green: #1CED7D;
 */

div#container {

    h1 {
        text-align: center;
    }

    div.project {
        width: min-content;
        margin: 10px auto;
        background-color: rgb(232, 232, 232);

        div.info-container {
            width: 600px;

            strong {
                font-weight: 700;
            }

            div.date {
                font-style: italic;
            }

            div.link-bar {
                // TODO: consider making these bubbles
                
                a {
                    color: defaults.$primary;
                }
            }
        }
    }

    
    
    
}
