@charset "UTF-8";
body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: #000;
  margin: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
}

/* colors available:
 * $primary: #3828ee;
 * $accent: #55fbdc;
 * $white: #fff;
 * $black: #000;
 *
 * $green: #1CED7D;
 */
body h2 a {
  color: #000;
  text-decoration: none;
}
body div#header {
  background-color: #3828ee;
  background-image: url("/assets/placeholder-wideshot-4000x1800.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 600px;
  width: 100%;
  white-space: nowrap;
}
body div#header div#hello-wrapper {
  width: fit-content;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body div#header div#hello-wrapper h6 {
  font-size: 25px;
  text-align: left;
  font-weight: 700;
  font-family: "Roboto Mono";
}
body div#header div#hello-wrapper h1 {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 100px;
  letter-spacing: 15px;
}
body div#header div#hello-wrapper h4 {
  font-size: 40px;
  text-align: left;
  font-family: "Roboto Mono";
}
body div#header div#hello-wrapper h4 span#typewriter-text::before {
  content: "​";
  content: "​"/"programmer";
  alt: "programmer";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 19.56s linear 1s infinite forwards;
}
body div#header div#hello-wrapper h4 span#typewriter-text::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 1ch solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-0 {
  0%, 0.5102474438% {
    content: "​p";
    content: "​p"/"programmer";
    alt: "programmer";
  }
  0.5112474438%, 1.0214948875% {
    content: "​pr";
    content: "​pr"/"programmer";
    alt: "programmer";
  }
  1.0224948875%, 1.5327423313% {
    content: "​pro";
    content: "​pro"/"programmer";
    alt: "programmer";
  }
  1.5337423313%, 2.0439897751% {
    content: "​prog";
    content: "​prog"/"programmer";
    alt: "programmer";
  }
  2.0449897751%, 2.5552372188% {
    content: "​progr";
    content: "​progr"/"programmer";
    alt: "programmer";
  }
  2.5562372188%, 3.0664846626% {
    content: "​progra";
    content: "​progra"/"programmer";
    alt: "programmer";
  }
  3.0674846626%, 3.5777321063% {
    content: "​program";
    content: "​program"/"programmer";
    alt: "programmer";
  }
  3.5787321063%, 4.0889795501% {
    content: "​programm";
    content: "​programm"/"programmer";
    alt: "programmer";
  }
  4.0899795501%, 4.6002269939% {
    content: "​programme";
    content: "​programme"/"programmer";
    alt: "programmer";
  }
  4.6012269939%, 15.7454212679% {
    content: "​programmer";
    content: "​programmer"/"programmer";
    alt: "programmer";
  }
  15.7464212679%, 16.1544192229% {
    content: "​programme";
    content: "​programme"/"programmer";
    alt: "programmer";
  }
  16.1554192229%, 16.5634171779% {
    content: "​programm";
    content: "​programm"/"programmer";
    alt: "programmer";
  }
  16.5644171779%, 16.9724151329% {
    content: "​program";
    content: "​program"/"programmer";
    alt: "programmer";
  }
  16.9734151329%, 17.3814130879% {
    content: "​progra";
    content: "​progra"/"programmer";
    alt: "programmer";
  }
  17.3824130879%, 17.7904110429% {
    content: "​progr";
    content: "​progr"/"programmer";
    alt: "programmer";
  }
  17.7914110429%, 18.199408998% {
    content: "​prog";
    content: "​prog"/"programmer";
    alt: "programmer";
  }
  18.200408998%, 18.608406953% {
    content: "​pro";
    content: "​pro"/"programmer";
    alt: "programmer";
  }
  18.609406953%, 19.017404908% {
    content: "​pr";
    content: "​pr"/"programmer";
    alt: "programmer";
  }
  19.018404908%, 19.426402863% {
    content: "​p";
    content: "​p"/"programmer";
    alt: "programmer";
  }
  19.427402863%, 24.5388773006% {
    content: "​";
    content: "​"/"programmer";
    alt: "programmer";
  }
  24.5398773006%, 25.0501247444% {
    content: "​p";
    content: "​p"/"programmer";
    alt: "programmer";
  }
  25.0511247444%, 25.5613721881% {
    content: "​ph";
    content: "​ph"/"programmer";
    alt: "programmer";
  }
  25.5623721881%, 26.0726196319% {
    content: "​pho";
    content: "​pho"/"programmer";
    alt: "programmer";
  }
  26.0736196319%, 26.5838670757% {
    content: "​phot";
    content: "​phot"/"programmer";
    alt: "programmer";
  }
  26.5848670757%, 27.0951145194% {
    content: "​photo";
    content: "​photo"/"programmer";
    alt: "programmer";
  }
  27.0961145194%, 27.6063619632% {
    content: "​photog";
    content: "​photog"/"programmer";
    alt: "programmer";
  }
  27.6073619632%, 28.117609407% {
    content: "​photogr";
    content: "​photogr"/"programmer";
    alt: "programmer";
  }
  28.118609407%, 28.6288568507% {
    content: "​photogra";
    content: "​photogra"/"programmer";
    alt: "programmer";
  }
  28.6298568507%, 29.1401042945% {
    content: "​photograp";
    content: "​photograp"/"programmer";
    alt: "programmer";
  }
  29.1411042945%, 29.6513517382% {
    content: "​photograph";
    content: "​photograph"/"programmer";
    alt: "programmer";
  }
  29.6523517382%, 30.162599182% {
    content: "​photographe";
    content: "​photographe"/"programmer";
    alt: "programmer";
  }
  30.163599182%, 41.307793456% {
    content: "​photographer";
    content: "​photographer"/"programmer";
    alt: "programmer";
  }
  41.308793456%, 41.716791411% {
    content: "​photographe";
    content: "​photographe"/"programmer";
    alt: "programmer";
  }
  41.717791411%, 42.1257893661% {
    content: "​photograph";
    content: "​photograph"/"programmer";
    alt: "programmer";
  }
  42.1267893661%, 42.5347873211% {
    content: "​photograp";
    content: "​photograp"/"programmer";
    alt: "programmer";
  }
  42.5357873211%, 42.9437852761% {
    content: "​photogra";
    content: "​photogra"/"programmer";
    alt: "programmer";
  }
  42.9447852761%, 43.3527832311% {
    content: "​photogr";
    content: "​photogr"/"programmer";
    alt: "programmer";
  }
  43.3537832311%, 43.7617811861% {
    content: "​photog";
    content: "​photog"/"programmer";
    alt: "programmer";
  }
  43.7627811861%, 44.1707791411% {
    content: "​photo";
    content: "​photo"/"programmer";
    alt: "programmer";
  }
  44.1717791411%, 44.5797770961% {
    content: "​phot";
    content: "​phot"/"programmer";
    alt: "programmer";
  }
  44.5807770961%, 44.9887750511% {
    content: "​pho";
    content: "​pho"/"programmer";
    alt: "programmer";
  }
  44.9897750511%, 45.3977730061% {
    content: "​ph";
    content: "​ph"/"programmer";
    alt: "programmer";
  }
  45.3987730061%, 45.8067709611% {
    content: "​p";
    content: "​p"/"programmer";
    alt: "programmer";
  }
  45.8077709611%, 50.9192453988% {
    content: "​";
    content: "​"/"programmer";
    alt: "programmer";
  }
  50.9202453988%, 51.4304928425% {
    content: "​s";
    content: "​s"/"programmer";
    alt: "programmer";
  }
  51.4314928425%, 51.9417402863% {
    content: "​st";
    content: "​st"/"programmer";
    alt: "programmer";
  }
  51.9427402863%, 52.4529877301% {
    content: "​stu";
    content: "​stu"/"programmer";
    alt: "programmer";
  }
  52.4539877301%, 52.9642351738% {
    content: "​stud";
    content: "​stud"/"programmer";
    alt: "programmer";
  }
  52.9652351738%, 53.4754826176% {
    content: "​stude";
    content: "​stude"/"programmer";
    alt: "programmer";
  }
  53.4764826176%, 53.9867300613% {
    content: "​studen";
    content: "​studen"/"programmer";
    alt: "programmer";
  }
  53.9877300613%, 65.1319243354% {
    content: "​student";
    content: "​student"/"programmer";
    alt: "programmer";
  }
  65.1329243354%, 65.5409222904% {
    content: "​studen";
    content: "​studen"/"programmer";
    alt: "programmer";
  }
  65.5419222904%, 65.9499202454% {
    content: "​stude";
    content: "​stude"/"programmer";
    alt: "programmer";
  }
  65.9509202454%, 66.3589182004% {
    content: "​stud";
    content: "​stud"/"programmer";
    alt: "programmer";
  }
  66.3599182004%, 66.7679161554% {
    content: "​stu";
    content: "​stu"/"programmer";
    alt: "programmer";
  }
  66.7689161554%, 67.1769141104% {
    content: "​st";
    content: "​st"/"programmer";
    alt: "programmer";
  }
  67.1779141104%, 67.5859120654% {
    content: "​s";
    content: "​s"/"programmer";
    alt: "programmer";
  }
  67.5869120654%, 72.6983865031% {
    content: "​";
    content: "​"/"programmer";
    alt: "programmer";
  }
  72.6993865031%, 73.2096339468% {
    content: "​w";
    content: "​w"/"programmer";
    alt: "programmer";
  }
  73.2106339468%, 73.7208813906% {
    content: "​we";
    content: "​we"/"programmer";
    alt: "programmer";
  }
  73.7218813906%, 74.2321288344% {
    content: "​web";
    content: "​web"/"programmer";
    alt: "programmer";
  }
  74.2331288344%, 74.7433762781% {
    content: "​web ";
    content: "​web "/"programmer";
    alt: "programmer";
  }
  74.7443762781%, 75.2546237219% {
    content: "​web d";
    content: "​web d"/"programmer";
    alt: "programmer";
  }
  75.2556237219%, 75.7658711656% {
    content: "​web de";
    content: "​web de"/"programmer";
    alt: "programmer";
  }
  75.7668711656%, 76.2771186094% {
    content: "​web dev";
    content: "​web dev"/"programmer";
    alt: "programmer";
  }
  76.2781186094%, 76.7883660532% {
    content: "​web deve";
    content: "​web deve"/"programmer";
    alt: "programmer";
  }
  76.7893660532%, 77.2996134969% {
    content: "​web devel";
    content: "​web devel"/"programmer";
    alt: "programmer";
  }
  77.3006134969%, 77.8108609407% {
    content: "​web develo";
    content: "​web develo"/"programmer";
    alt: "programmer";
  }
  77.8118609407%, 78.3221083845% {
    content: "​web develop";
    content: "​web develop"/"programmer";
    alt: "programmer";
  }
  78.3231083845%, 78.8333558282% {
    content: "​web develope";
    content: "​web develope"/"programmer";
    alt: "programmer";
  }
  78.8343558282%, 89.9785501022% {
    content: "​web developer";
    content: "​web developer"/"programmer";
    alt: "programmer";
  }
  89.9795501022%, 90.3875480573% {
    content: "​web develope";
    content: "​web develope"/"programmer";
    alt: "programmer";
  }
  90.3885480573%, 90.7965460123% {
    content: "​web develop";
    content: "​web develop"/"programmer";
    alt: "programmer";
  }
  90.7975460123%, 91.2055439673% {
    content: "​web develo";
    content: "​web develo"/"programmer";
    alt: "programmer";
  }
  91.2065439673%, 91.6145419223% {
    content: "​web devel";
    content: "​web devel"/"programmer";
    alt: "programmer";
  }
  91.6155419223%, 92.0235398773% {
    content: "​web deve";
    content: "​web deve"/"programmer";
    alt: "programmer";
  }
  92.0245398773%, 92.4325378323% {
    content: "​web dev";
    content: "​web dev"/"programmer";
    alt: "programmer";
  }
  92.4335378323%, 92.8415357873% {
    content: "​web de";
    content: "​web de"/"programmer";
    alt: "programmer";
  }
  92.8425357873%, 93.2505337423% {
    content: "​web d";
    content: "​web d"/"programmer";
    alt: "programmer";
  }
  93.2515337423%, 93.6595316973% {
    content: "​web ";
    content: "​web "/"programmer";
    alt: "programmer";
  }
  93.6605316973%, 94.0685296524% {
    content: "​web";
    content: "​web"/"programmer";
    alt: "programmer";
  }
  94.0695296524%, 94.4775276074% {
    content: "​we";
    content: "​we"/"programmer";
    alt: "programmer";
  }
  94.4785276074%, 94.8865255624% {
    content: "​w";
    content: "​w"/"programmer";
    alt: "programmer";
  }
  94.8875255624%, 100% {
    content: "​";
    content: "​"/"programmer";
    alt: "programmer";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
body div#panel-wrapper div.panel {
  width: 50%;
}
body div#panel-wrapper div#left-panel {
  float: left;
}
body div#panel-wrapper div#left-panel div.portfolio-panel {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
body div#panel-wrapper div#left-panel a {
  position: relative;
  padding: 0;
  display: block;
  z-index: 1;
}
body div#panel-wrapper div#left-panel a h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 5;
  font-weight: 700;
  font-size: 50px;
  white-space: nowrap;
}
body div#panel-wrapper div#left-panel div.zoom-child {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url("/assets/car-photo.jpg");
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}
body div#panel-wrapper div#left-panel .zoom-parent:hover .zoom-child,
body div#panel-wrapper div#left-panel .zoom-parent:focus .zoom-child {
  transform: scale(1.2);
}
body div#panel-wrapper div#left-panel div#programming-panel .zoom-child {
  background-color: gray; /* fallback color */
  background-image: url("/assets/keyboard-photo.jpg");
}
body div#panel-wrapper div#left-panel div#photography-panel .zoom-child {
  background-color: black; /* fallback color */
  background-image: url("/assets/car-photo.jpg");
}
body div#panel-wrapper div#right-panel {
  float: right;
  background-color: #3828ee;
  height: 700px;
}
body div#panel-wrapper div#right-panel img#david-photo {
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 100%;
  width: 350px;
  margin: auto;
  display: block;
}
body div#panel-wrapper div#right-panel div#socials-wrapper {
  text-align: center;
  padding-bottom: 30px;
}
body div#panel-wrapper div#right-panel div#socials-wrapper a.button {
  color: #fff;
  background-color: gray;
  border-radius: 100px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}
body div#panel-wrapper div#right-panel div#about-me-wrapper {
  width: 80%;
  margin: auto;
}
body div#panel-wrapper div#right-panel div#about-me-wrapper p {
  font-size: 18px;
  line-height: 1.25;
  color: #fff;
  padding-bottom: 10px;
}
body div#panel-wrapper div#right-panel div#about-me-wrapper p a {
  color: #55fbdc;
  text-decoration: none;
}
body div#panel-wrapper div#right-panel div#about-me-wrapper p a:hover {
  text-decoration: underline;
}