body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
}

/* colors available:
 * $primary: #3828ee;
 * $accent: #55fbdc;
 * $white: #fff;
 * $black: #000;
 *
 * $green: #1CED7D;
 */
body {
  background-color: #3828ee;
}
body h1 {
  color: #fff;
  font-weight: 900;
  font-size: 100px;
}
body h2 a {
  color: #fff;
  text-decoration: none;
}
body img#david-photo {
  border-radius: 100%;
  width: 200px;
}