body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: #000;
  margin: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
}

/* colors available:
 * $primary: #3828ee;
 * $accent: #55fbdc;
 * $white: #fff;
 * $black: #000;
 *
 * $green: #1CED7D;
 */
body h2 a {
  color: #000;
  text-decoration: none;
}
body div#header {
  background-color: #3828ee;
  background-image: url("/assets/placeholder-wideshot-4000x1800.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 600px;
  width: 100%;
  white-space: nowrap;
}
body div#header div#hello-wrapper {
  width: fit-content;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body div#header div#hello-wrapper h6 {
  font-size: 25px;
  text-align: left;
  font-weight: 700;
  font-family: "Roboto Mono";
}
body div#header div#hello-wrapper h1 {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 100px;
  letter-spacing: 15px;
}
body div#header div#hello-wrapper h4 {
  font-size: 40px;
  text-align: left;
  font-family: "Roboto Mono";
}
body img#david-photo {
  border-radius: 100%;
  width: 200px;
}