@use 'defaults/default-styles' as defaults;
@use 'defaults/typed' as typed;

/* colors available:
 * $primary: #3828ee;
 * $accent: #55fbdc;
 * $white: #fff;
 * $black: #000;
 *
 * $green: #1CED7D;
 */

// screen sizes:
$extra-wide: 1100px;
$wide: 900px;
$medium: 600px;
$small: 500px;

// header screen sizes:
$header-medium: 750px;

body {
    // background-color: defaults.$primary;


    h2 {

        a {
            color: defaults.$black;
            text-decoration: none;
        }
    }

    div#header {
        // backup incase the image doesn't load:
        background-color: defaults.$primary;
        background-image: url('/assets/placeholder-wideshot-4000x1800.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        color: defaults.$white;
        height: 100lvh;
        width: 100%;
        white-space: nowrap;
        
        div#hello-wrapper {
            width: fit-content;
            // margin: auto;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // font-family: "Roboto Mono";
            
            h6 {
                font-size: 25px;
                text-align: left;
                font-weight: 700;
                font-family: "Roboto Mono";
            }
            h1 {
                // width: fit-content;
                // margin: auto;
                display: inline-block;
                text-align: left;
                color: defaults.$white;
                font-weight: 900;
                font-size: 100px;
                letter-spacing: 15px;
            }
            h4 {
                font-size: 40px;
                text-align: left;
                font-family: "Roboto Mono";

                span#typewriter-text {
                    @include typed.typed("programmer", "photographer", "student", "web developer");
                }
            }
        }

    }

    div#panel-wrapper {
        // width: 100%;
        // overflow: auto;

        $height-of-panels: 700px;

        div.panel {
            width: 50%;
        }
        
        div#link-panel {
            float: left;
            
            div.portfolio-panel {
                width: 100%;
                height: calc($height-of-panels / 2);
                overflow: hidden;
            }

            a {
                position: relative;
                padding: 0;
                display: block;
                z-index: 1;

                h2 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    color: defaults.$white;
                    z-index: 5;
                    font-weight: 700;
                    font-size: 50px;
                    white-space: nowrap;
                }
            }
            
            div.zoom-child {
                width: 100%;
                height: 100%;
                background-color: black; /* fallback color */
                background-image: url("/assets/car-photo.jpg");
                background-position: center;
                background-size: cover;
                transition: all .5s;
            }
            .zoom-parent:hover .zoom-child,
            .zoom-parent:focus .zoom-child {
                transform: scale(1.2);
            }

            div#programming-panel {
                // background-color: blue;

                .zoom-child {
                    background-color: gray; /* fallback color */
                    background-image: url("/assets/keyboard-photo.jpg");
                }
            }
            div#photography-panel {
                // background-color: purple;

                .zoom-child {
                    background-color: black; /* fallback color */
                    background-image: url("/assets/car-photo.jpg");
                }
            }
        }
    
        div#about-panel {
            float: right;
            background-color: defaults.$primary;
            height: $height-of-panels;
            
            img#david-photo {
                // $photo-size: 350px;

                padding-top: 30px;
                padding-bottom: 10px;
                border-radius: 100%;
                width: $extra-wide * 0.3; // 330px, is 60% of the half panel
                margin: auto;
                display: block;

                @media only screen and (max-width: $extra-wide) {
                    width: 60%;
                }
            }

            div#socials-wrapper {
                text-align: center;
                padding-bottom: 30px;

                a.button {
                    color: defaults.$white;
                    background-color: gray; // TODO: find a specific color
                    border-radius: 100px;
                    padding: 10px;
                    text-decoration: none;
                    display: inline-block;
                    // height: 30px;
                }
            }
            
            div#about-me-wrapper {
                width: 80%;
                margin: auto;
                // text-align: center;
                // font-family: "Roboto Mono";

                p {
                    font-size: 18px;
                    line-height: 1.25;
                    color: defaults.$white;
                    padding-bottom: 10px;
                    text-align: justify;

                    a {
                        color: defaults.$accent;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                
            }
        }
    }


}

@media only screen and (max-width: $wide) {
    body {
        div#panel-wrapper {
            div.panel {
                width: 100%;
            }
            
            div#link-panel {
                
                div.portfolio-panel {
                    width: 100%;
                    height: 250px;
                    overflow: hidden;
                }
    
                a {
                    position: relative;
                    padding: 0;
                    display: block;
                    z-index: 1;
    
                    h2 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        color: defaults.$white;
                        z-index: 5;
                        font-weight: 700;
                        font-size: 50px;
                        white-space: nowrap;
                    }
                }
            }

            div#about-panel {
                height: auto;
                padding: 30px 0;
                
                img#david-photo {
                    padding-top:  0;
                    padding-bottom: 10px;
                    border-radius: 100%;
                    width: 270px; // 330px, is 60% of the half panel
                    margin: auto;
                    display: block;
    
                    
                }
    
                div#socials-wrapper {
                    text-align: center;
                    padding-bottom: 30px;
    
                    a.button {
                        border-radius: 100px;
                        padding: 10px;
                    }
                }
                
                div#about-me-wrapper {
                    width: 80%;
                    margin: auto;
    
                    p {
                        font-size: 18px;
                        padding-bottom: 10px;
                    }
                    
                }
            }
        }
    
    
    }
}

// switch the link panels to be side by side
@media only screen and (min-width: ($medium)) and (max-width: $wide) {
    
    body {
        div#panel-wrapper {
            // switch the link panels to be stacked again
            div#link-panel {
                
                div.portfolio-panel {
                    width: 100%;
                    height: 250px;
                    overflow: hidden;
                }
                display: flex;
                flex-flow: row nowrap;
    
                a {
                    position: relative;
                    padding: 0;
                    display: block;
                    z-index: 1;

                    width: 50%;
                    height: fit-content;
                    

                    // div#programming-panel {
                    //     && {
                    //         float: left;
                    //     }
                    // }
                    // div#photography-panel {
                    //     && {
                    //         float: right;
                    //     }
                    // }
    
                    h2 {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $medium) {
    body {
        div#panel-wrapper {

            div#link-panel {
                div.portfolio-panel {
                    height: 200px;
                }
    
                a {
                    h2 {
                        font-size: 40px;
                    }
                }
            }

            div#about-panel {
                div#about-me-wrapper {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

// NOW TO DEAL WITH HEADER DYNAMICNESS:
@media only screen and (max-width: $header-medium) {
    body {
        div#header {
            div#hello-wrapper {
                h6 {
                    font-size: 23px; // full size is 25px
                }
                h1 {
                    font-size: 100px * .8; // full size is 100px
                    letter-spacing: 15px * .8; // full size is 15px
                }
                h4 {
                    font-size: 35px; // full size is 40px
                }
            }
        }
    }
}
@media only screen and (max-width: $medium) {
    body {
        div#header {
            white-space: normal;

            div#hello-wrapper {
                padding: 0 10px;
                h6 {
                    font-size: 20px; // full size is 25px
                }
                h1 {
                    font-size: 100px * .6; // full size is 100px
                    letter-spacing: 3px; // full size is 15px
                }
                h4 {
                    font-size: 40px * .6; // full size is 40px
                }
            }
        }
    }
}
@media only screen and (max-width: 380px) {
    body {
        div#header {

            div#hello-wrapper {
                h6 {
                    font-size: 20px; // full size is 25px
                }
                h1 {
                    font-size: 50px; // full size is 100px
                    letter-spacing: 2px; // full size is 15px
                }
                h4 {
                    font-size: 23px; // full size is 40px
                }
            }
        }
    }
}